body {
    font-family: 'Courier New', Courier, monospace;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
}

.box-circle svg {
    width: 150px;
    height: 150px;
    position: relative;
}